<!-- incluimos el parent -->
{% extends "Login/base_dos.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load poll_table %}

<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "tab_title" %} {% endblock %}
<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "head_title" %} {% endblock %}


{% block extra-sticky %} 

<!-- Incluimos el register_ticket_sticky.html pasandole listbtn -->
{% include 'Buttons/buttons_sticky.html' with button_list=listbtn %}


{% endblock %}


{% block content %}
  <!-- Listado de Programadores -->
  <div class="container">
    <div class="row">
      {% if urlbtn_add %}
        <div class="container">
          <div class="row text-right">
            {% if urlbtn_add %}
              <!-- urlbtn "url del button" and titlebtn "leyenda del buton, over button"  -->
              {% include 'Buttons/button_add.html' with urlbtn=urlbtn_add  titlebtn=titlebtn_add %}
            {% endif %}
          </div>
        </div>
      {% endif %}
      <!-- <table class="table table-strip table-hover table-responsive table-responsive-sm table-responsive-md estilo1"> -->
      <table id="tblhistory" class="table estilo3 table-hover table-strip table-responsive table-responsive-sm table-responsive-md ">
        <thead>
          <tr >
            <!-- <th>Modulo</th> -->
            <!-- <th style="width:300px"> {% ExplotItem "Nombre de Usuario" %} </th>  -->
            <th style="width:300px"> Nombre de Usuario </th>
            <th style="width:400px"> Nombre Completo </th>
            <th style="width:200px"> Fecha de Inicio </th>
            <th style="width:300px"> Telefono </th>
            <th style="width:300px"> Email </th>
            <th style="width:300px"> Other </th>
          </tr>
        </thead>
        <tbody> 
      {% if user_amdins != None %}
        {% for it in user_amdins %}          
          <tr class="rtbl-attend td-hover" onclick="window.location='{% url urllink it.id %}';" title="{{urltitle}} '{{it}}'." >
            <!-- <td> {% firstof it.msg "" %} </td> -->
            <td class="text-center"> {{it.username}} </td>
            <td class="text-center">               
              <div>
                {% firstof it.first_name '' %}
              </div>
              <div>
                {% firstof it.last_name '' %}                
              </div>
            </td>
            <td class="text-center"> {{it.date_joined}}</td>
            <td class="text-center"> {{it.telefono}}</td>
            <td class="text-center"> {{it.email}}</td>
            <td>
              <div>
                User Id: {{it.id}}
              </div>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

<tr class="rtbl-attend td-hover" onclick="window.location='{% url urllink it.id %}';" title="{{urltitle}} '{{it}}'." ></tr>


