{% extends "Contact/base.html" %}
{% load static %}

{% block content %}


<style>
  .textOverImagen {
     position: relative;
  }
  
  h4 {
     position: absolute;
     top: 5%;
     left: 5%;
     width: 100%;
     margin: 0 auto;
     width: 100%;
     height: 50px;
  }
  strong
  {
     position: absolute;
     top: 85%;
     left: 5%;
     width: 100%;
     margin: 0 auto;
     width: 100%;
     height: 50px;
     color: rgb(255, 255, 255);
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active
  {
    text-decoration: none; 
    color: rgb(255, 255, 255);
  }

  a:hover
  {
    color: #f00;
  }

  #macrosectiontext
  {
    position: relative;
    font:Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    margin-top: 245px;
    opacity: 0.6;
    background-color: transparent;
  }

  #macrosectiontext a:link
  {
    color: #000;
  }

  #macrosectiontext a:visited,
  #macrosectiontext a:hover,
  #macrosectiontext a:active
  {
    color: #fff;
  }
</style>

<div>
  <div class="textOverImagen" style="margin-top: 10px;">    
    <img class="logo-img logo-img-active" src="{% static '/Contact/img/productos/gpslink.jpeg' %}" width="100%" height="250px" alt="Hoffsel Active" >
    <div class="container">
  
      <!-- <div class="text" style="margin-top: 1px;"> -->
      <div class="text">
        <!-- <h4 class="carousel-title" style="color: rgb(3, 57, 233);">GPS Link</h4> -->
        <p> 
          <strong> <a href="/"> Prinicipal </a> &rsaquo;<a href="/contact/productos/"> Productos </a>  &rsaquo; GPS Link</strong>
        </p>
        
      </div>
    </div>
      
  </div>
</div>





  <!-- about -->
  <div class="container-fluid" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="container">

      <!-- GPS Link -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" >
          <div  >
            <h2 style="font-family: 'Courier New', Courier, monospace;">GPS Link</h2>
            <p style="color: rgb(0, 0, 0); font-size: 150%;">
              Seguimiento de Flota, medicion y estadisticas de consumo de combustible. 
              Deteccion y notificacion a distancia de aperturas de puertas, activacion de mecanismos.
              Control de Bomba de combustible a distancia, telemetria. 
              
            </p>
            <a href="#soluciones" class='btn btn-homelink btn-lg' >
              <b>Ver mas &rarr; </b>
            </a>
          </div>          
        </div>       

        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <img class="full-width img-responsive wow fadeInUp" src="{% static '/Contact/img/productos/gpslink_brief.jpeg' %}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".2s">
        </div>
      </div>
      <!-- End GPS Link -->


    </div>
  </div>
  <!-- End about -->

{% endblock %}